[submodule "BaseStation"]
	path = BaseStation
	url = https://github.com/Ahmed-Elgohary1/BaseStation
[submodule "WeatherStation"]
	path = WeatherStation
	url = https://github.com/Ahmed-Elgohary1/WeatherStation
